<h2>{{'adminBudgetUpload.manageBudget' | message}}</h2>
<form id="budgetUpload" ng-submit="vm.upload()">
    <aside class="export">
        {{'adminBudgetUpload.viewCurrentBudgetAsCsv' | message}}
        <input openlmis-download="{{vm.getExportUrl()}}" type="button" value="{{'adminBudgetUpload.export' | message}}"/>
    </aside>
    <p class="multiline">{{'adminBudgetUpload.budgetUploadDescription' | message}}</p>
    <fieldset openlmis-invalid="{{ vm.invalidMessage }}" class="form-group">
        <label for="file">{{'adminBudgetUpload.csvFile' | message}}</label>
        <input id="file" type="file" ng-model="vm.file" accept=".csv" required/>
    </fieldset>
    <input type="submit" value="{{'adminBudgetUpload.upload' | message}}"/>
</form>
