<h2>{{'adminSourceOfFundUpload.manageSourceOfFund' | message}}</h2>
<form id="catalogItemUpload" ng-submit="vm.upload()">
    <aside class="export">
        {{'adminSourceOfFundUpload.viewCurrentSourceOfFundAsCsv' | message}}
        <input openlmis-download="{{vm.getExportUrl()}}" type="button" value="{{'adminSourceOfFundUpload.export' | message}}"/>
    </aside>
    <p class="multiline">{{'adminSourceOfFundUpload.sourceOfFundUploadDescription' | message}}</p>
    <fieldset openlmis-invalid="{{ vm.invalidMessage }}" class="form-group">
        <label for="file">{{'adminSourceOfFundUpload.csvFile' | message}}</label>
        <input id="file" type="file" ng-model="vm.file" accept=".csv" required/>
    </fieldset>
    <input type="submit" value="{{'adminSourceOfFundUpload.upload' | message}}"/>
</form>
