<h2>{{'adminFundSourceList.sourceOfFunds' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-fund-source" class="add" ui-sref="openlmis.administration.sourceOfFunds.edit">
        {{'adminFundSourceList.addSourceOfFund' | message}}
    </button>
    <table>`
        <caption ng-if="vm.sourceOfFunds.length === 0">
            {{'adminFundSourceList.noSourceOfFunds' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'adminFundSourceList.sourceOfFundCode' | message}}</th>
            <th>{{'adminFundSourceList.sourceOfFundName' | message}}</th>
            <th>{{'adminFundSourceList.displayOrder' | message}}</th>
            <th>{{'adminFundSourceList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sourceOfFund in vm.sourceOfFunds">
            <td>{{sourceOfFund.code}}</td>
            <td>{{sourceOfFund.name}}</td>
            <td>{{sourceOfFund.displayOrder}}</td>
            <td>
                <button ui-sref="openlmis.administration.sourceOfFunds.edit({id: sourceOfFund.id})">{{'adminFundSourceList.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>