<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.editMode">{{'adminFundSourceEdit.editFundSource.title' | message:({sourceOfFund: vm.sourceOfFund.code})}}</h1>
                <h1 ng-if="!vm.editMode">{{'adminFundSourceEdit.createFundSource.title' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-fund-source-form" ng-submit="vm.save()">
                    <label for="code">{{'adminFundSourceEdit.fundSourceCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.sourceOfFund.code" ng-disabled="vm.editMode" required></input>
                    <label for="name">{{'adminFundSourceEdit.fundSourceName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.sourceOfFund.name" required></input>
                    <label for="displayOrder">{{'adminFundSourceEdit.fundSourceDisplayOrder' | message}}</label>
                    <input positive-integer id="displayOrder" ng-model="vm.sourceOfFund.displayOrder" required></input>
                    <label for="active">
                        <input id="active" type="checkbox" ng-model="vm.sourceOfFund.active"/>
                        {{'adminFundSourceEdit.active' | message}}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminFundSourceEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-fund-source-form">{{vm.editMode ? 'adminFundSourceEdit.save' : 'adminFacilityTypeEdit.create' | message}}</button>
            </div>
        </div>
    </div>
</div>
